<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <filter>
        <whitelist>
            <directory>../application</directory>
            <file>../library/Fisma.php</file>
            <directory>../library/Fisma</directory>
            <exclude>
                <directory>../application/modules/default/controllers</directory>
                <directory>../application/modules/finding/controllers</directory>
                <directory>../application/modules/vm/controllers</directory>
                <directory>../application/models/generated</directory>
                <directory>../application/doctrine/migrations</directory>
            </exclude>
        </whitelist>
        
        <blacklist>
            <directory>../library/Fisma/Symfony</directory>
        </blacklist>
    </filter>
</phpunit>
