/* Style the progress bar that's displayed in the attach artifacts dialog box */

div.attachArtifactsProgressBar {
    width: 128px; 
    height: 15px;
    margin: 10px auto 0px auto;
    display: none;
}
