/*
 * Override some YUI styles which don't make sense for our layouts.
 *
 * Notice these styles are marked ! important so that they will override YUI's
 * autocomplete.css styles.
 */

/* overrides ".yui-skin-sam .yui-ac-input", must have higher precedence */
.yui-skin-sam .yui-ac .yui-ac-input {
    position: static;
    width: 80%;
}

.yui-ac-container {
    font-weight: normal;
}

.yui-ac-content {
    opacity: 0.92;
}

.yui-ac-bd li {
    margin: 5px;
    font-size: 1.2em;
}

.yui-ac-bd li:nth-child(even) {
    /*background-color: red;*/
}

.yui-ac img.spinner {
	display: inline;
	visibility: hidden;
    position: relative;
    top: 4px;
    left: 2px;
}

td.autocomplete-width {
    width:200px
}
