/*
 * Override some YUI styles which don't make sense for our layouts.
 *
 * Notice these styles are marked ! important so that they will override YUI's
 * autocomplete.css styles.
 */

.yui-ac-input {
    position: static ! important;
    width: 85% ! important;
}

.yui-ac-container {
    font-weight: normal;
}

.yui-ac-content {
    opacity: 0.92;
}

.yui-ac-bd li {
    margin: 5px;
    font-size: 1.2em;
}

.yui-ac-bd li:nth-child(even) {
    /*background-color: red;*/
}

div.yui-ac img.spinner {
	display: inline;
	visibility: hidden;
    position: relative;
    top: 4px;
    left: 2px;
}
