div.attachArtifactsProgressBar{width:128px;height:15px;margin:10px auto 0 auto;display:none;}
.yui-ac-input{position:static!important;width:85%!important;}
div.yui-ac img.spinner{display:inline;visibility:hidden;position:relative;top:4px;left:2px;}
div.dashboardCard{position:relative;float:left;width:10em;height:6em;margin:.8em;border:1px solid #b0b0b0;background-color:lightgrey;}
div.dashboardCard div.title{margin:.3em auto 0 auto;text-align:center;font-weight:bold;font-size:1em;}
div.dashboardCard div.metric{position:absolute;width:100%;bottom:0;text-align:center;font-weight:bold;font-size:2.5em;}
div.dashboardGreen{border-color:#83ca8d;background-color:lightgreen;}
div.dashboardYellow{border-color:#e2e13b;background-color:yellow;}
div.dashboardRed{border-color:#daaeb5;background-color:pink;}
div.dashboardChart{margin:2em 0;text-align:center;font-weight:bold;}
div#findingSecurityControlSearch{display:none;background-color:white;border:1px solid #d3d3d3;padding:10px;margin-top:10px;}
table.treeTable{width:100%;}
table.treeTable th{padding:5px;background-color:#fafafa;border:1px solid #bbb;font-weight:bold;text-align:center;}
table.treeTable td{padding:5px;background-color:#fafafa;border:1px solid #bbb;}
table.treeTable td a{color:black;}
table.treeTable td:first-child a{text-decoration:none;}
table.treeTable div.link{padding:1px;}
table.treeTable div.link:hover{padding:0;border:1px solid #ccc;background-color:#f0f0f0;}
table.treeTable td img.control{margin:6px 6px 6px 2px;position:relative;float:left;}
table.treeTable td img.icon{float:left;margin-right:6px;}
table.treeTable td img#control{padding:5px;border:1px solid grey;}
table.treeTable td.noDueDate{text-align:center;}
table.treeTable td.onTime{background-color:#a6eba9;text-align:center;}
table.treeTable td.overdue{background-color:#ffcbcf;text-align:center;font-weight:bold;font-style:italic;}
.treeTable0{margin-left:0;}
.treeTable1{margin-left:1em;}
.treeTable2{margin-left:2em;}
.treeTable3{margin-left:3em;}
.treeTable4{margin-left:4em;}
.treeTable5{margin-left:5em;}
.treeTable6{margin-left:6em;}
.treeTable7{margin-left:7em;}
.treeTable8{margin-left:8em;}
.treeTable9{margin-left:9em;}
span#irReportForwardsContainer{position:relative;left:245px;}
span#irReportSaveContainer{position:relative;left:260px;}
span#irReportBackwardsContainer{position:relative;left:-110px;}
span#irReportCancelContainer{position:relative;left:-110px;}
div.incidentStep{margin:10px;padding:10px 10px 10px 40px;position:relative;}
div.incidentStep td{padding:5px;}
div.incidentStep td:first-child{font-weight:bold;text-align:right;}
div.incidentCardinality{position:absolute;top:-2px;left:-2px;padding:5px 10px;font-size:x-large;}
div.completedIncidentStep{border:2px solid gray;background-color:#f0f0f0;}
div.completedIncidentStep div.incidentCardinality{border:2px solid gray;border-bottom:none;color:gray;}
div.currentIncidentStep{border:2px solid #416ed7;background-color:#edf5ff;}
div.currentIncidentStep div.incidentCardinality{border:2px solid #416ed7;border-bottom:none;color:#416ed7;}
div.queuedIncidentStep{border:2px solid gray;background-color:#f0f0f0;}
div.queuedIncidentStep div.incidentCardinality{border:2px solid gray;border-bottom:none;color:gray;}
tr.incidentStep{border-top:1px dotted silver;}
table.modules{margin-left:auto;margin-right:auto;}
table.modules td{font-size:1.4em;padding:8px;vertical-align:middle;}
table.modules td:first-child{font-weight:bold;}
.searchBox{background-color:#ebebeb;margin:10px auto;border:1px solid #cecece;padding:5px 10px;}
.searchBox #keywords{width:15em;}
.searchBoxAdditional{margin-top:-11px;border-top:1px solid #cecece;}
.searchBox input[type=text]{position:relative;top:-.4em;border:1px solid #808080;background-color:white;height:1.7em;margin-left:2px;width:20em;}
.searchBox p{font-weight:bold;margin:3px 0;}
.searchBox input[type=text].date{background:url(/images/calendar.png) no-repeat 98%;background-color:white;width:10em;}
.searchBox input[type=text].integer,.searchBox input[type=text].float{width:10em;}
.searchCriteria{border-top:1px dotted #bfbfbf;max-width:60em;padding-top:5px;padding-bottom:3px;-margin-left:auto;margin-right:auto;}
.searchCriteria:first-child{border:none;}
.searchQueryButtons{float:right;}
.searchAddCriteriaButton{background:url(/images/add.png) center center no-repeat;overflow:hidden;width:2em;}
.searchRemoveCriteriaButton{background:url(/images/remove.png) center center no-repeat;overflow:hidden;width:2em;}
.highlight{background-color:yellow;}
div#searchColumnsButtons div{margin-left:20px;margin-bottom:20px;float:right;}
div.switchButton,div.switchButton span.border{display:block;width:93px;height:27px;background:url(../images/switch_button.png) left bottom no-repeat;cursor:pointer;margin-right:20px;}
div.switchButton span.border{background-position:left top;margin:0;}
div.switchButton span.spinner{visibility:hidden;position:relative;top:-23px;left:97px;}
div.toolbar{font-weight:bold;background-color:#ebebeb;margin:10px auto;border:1px solid #cecece;padding:5px 10px;text-align:right;}
div.showDisposalSystem{margin:0 0 5px 3px;font-weight:bold;}
div.showDisposalSystem input{vertical-align:middle;margin:0 5px 3px 0;}
.treeNodeDragAbove span{border-top:4px solid #bbc6d6;}
.treeNodeDragOnto{background-color:#bbc6d6;}
.treeNodeDragBelow span{border-bottom:4px solid #bbc6d6;}
.treeNodeDragProxy{border:1px solid #bbc6d6!important;padding:3px;opacity:.75;}
.draggableTreeContainer .agency{display:block;padding-left:20px;background:url(/images/agency-small.png) no-repeat;}
.draggableTreeContainer .bureau{display:block;padding-left:20px;background:url(/images/bureau-small.png) no-repeat;}
.draggableTreeContainer .organization{display:block;padding-left:20px;background:url(/images/organization-small.png) no-repeat;}
.draggableTreeContainer .gss{display:block;padding-left:20px;background:url(/images/gss-small.png) no-repeat;}
.draggableTreeContainer .major{display:block;padding-left:20px;background:url(/images/major-small.png) no-repeat;}
.draggableTreeContainer .minor{display:block;padding-left:20px;background:url(/images/minor-small.png) no-repeat;}
.draggableTreeContainer .disposal{display:block;padding-left:20px;background-color:pink;}
span.userInfo{padding-left:17px;padding-right:1px;border-bottom:1px dashed black;background:url(/images/user-info.png) no-repeat 0 1px;}
span.userInfo:hover{cursor:pointer;}
span.userInfo:active{color:#416ed7;}
.chartSection{page-break-inside:avoid;}
.screenReaderTabel{width:100%;}
.widgetSpaceHolder{width:400px;margin-left:auto;margin-right:auto;text-align:left;}
.chartGear{cursor:pointer;width:20px;}
.jqplot-target{position:relative;color:#666;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:1em;}
.jqplot-axis{font-size:.75em;}
.jqplot-xaxis{margin-top:10px;}
.jqplot-x2axis{margin-bottom:10px;}
.jqplot-yaxis{margin-right:10px;}
.jqplot-y2axis,.jqplot-y3axis,.jqplot-y4axis,.jqplot-y5axis,.jqplot-y6axis,.jqplot-y7axis,.jqplot-y8axis,.jqplot-y9axis{margin-left:10px;margin-right:10px;}
.jqplot-axis-tick,.jqplot-xaxis-tick,.jqplot-yaxis-tick,.jqplot-x2axis-tick,.jqplot-y2axis-tick,.jqplot-y3axis-tick,.jqplot-y4axis-tick,.jqplot-y5axis-tick,.jqplot-y6axis-tick,.jqplot-y7axis-tick,.jqplot-y8axis-tick,.jqplot-y9axis-tick{position:absolute;}
.jqplot-xaxis-tick{top:0;left:15px;vertical-align:top;}
.jqplot-x2axis-tick{bottom:0;left:15px;vertical-align:bottom;}
.jqplot-yaxis-tick{right:0;top:15px;text-align:right;}
.jqplot-y2axis-tick,.jqplot-y3axis-tick,.jqplot-y4axis-tick,.jqplot-y5axis-tick,.jqplot-y6axis-tick,.jqplot-y7axis-tick,.jqplot-y8axis-tick,.jqplot-y9axis-tick{left:0;top:15px;text-align:left;}
.jqplot-meterGauge-tick{font-size:.75em;color:#999;}
.jqplot-meterGauge-label{font-size:1em;color:#999;}
.jqplot-xaxis-label{margin-top:10px;font-size:11pt;position:absolute;}
.jqplot-x2axis-label{margin-bottom:10px;font-size:11pt;position:absolute;}
.jqplot-yaxis-label{margin-right:10px;font-size:11pt;position:absolute;}
.jqplot-y2axis-label,.jqplot-y3axis-label,.jqplot-y4axis-label,.jqplot-y5axis-label,.jqplot-y6axis-label,.jqplot-y7axis-label,.jqplot-y8axis-label,.jqplot-y9axis-label{font-size:11pt;position:absolute;}
table.jqplot-table-legend{margin-top:12px;margin-bottom:12px;margin-left:12px;margin-right:12px;}
table.jqplot-table-legend,table.jqplot-cursor-legend{background-color:rgba(255,255,255,0.6);border:1px solid #ccc;position:absolute;font-size:.75em;}
td.jqplot-table-legend{vertical-align:middle;}
td.jqplot-seriesToggle:hover,td.jqplot-seriesToggle:active{cursor:pointer;}
td.jqplot-table-legend>div{border:1px solid #ccc;padding:1px;}
div.jqplot-table-legend-swatch{width:0;height:0;border-top-width:5px;border-bottom-width:5px;border-left-width:6px;border-right-width:6px;border-top-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-style:solid;}
.jqplot-title{top:0;left:0;padding-bottom:.5em;font-size:1.2em;}
table.jqplot-cursor-tooltip{border:1px solid #ccc;font-size:.75em;}
.jqplot-cursor-tooltip{border:1px solid #ccc;font-size:.75em;white-space:nowrap;background:rgba(208,208,208,0.5);padding:1px;}
.jqplot-highlighter-tooltip{border:1px solid #ccc;font-size:.75em;white-space:nowrap;background:rgba(208,208,208,0.5);padding:1px;}
.jqplot-point-label{font-size:.75em;z-index:1;}
td.jqplot-cursor-legend-swatch{vertical-align:middle;text-align:center;}
div.jqplot-cursor-legend-swatch{width:1.2em;height:.7em;}
.jqplot-error{text-align:center;}
.jqplot-error-message{position:relative;top:46%;display:inline-block;}
div.jqplot-bubble-label{font-size:.8em;padding-left:2px;padding-right:2px;color:rgb(20%,20%,20%);}
div.jqplot-bubble-label.jqplot-bubble-label-highlight{background:rgba(90%,90%,90%,0.7);}
#skip a,#skip a:hover,#skip a:visited{position:absolute;left:0;top:-500px;width:1px;height:1px;overflow:hidden;}
#skip a:active,#skip a:focus{position:static;width:auto;height:auto;}
em{font-weight:bold;}
ul{padding-bottom:10px;}
ul li{display:list-item;list-style:disc outside;margin-left:35px;text-align:left;}
ol li{display:list-item;list-style:decimal outside;margin-left:35px;text-align:left;}
p{margin:10px 0 10px 0;}
h1{font-size:large;font-weight:bold;}
body{padding:10px;text-align:left;}
div#logo{float:left;margin-bottom:10px;}
div#logout{float:right;text-align:right;margin-top:10px;}
div#logout p{margin-top:8px;}
div#menubar{clear:both;font-weight:bold;min-height:25px;background-color:#d3d3d3;}
div.externalMediaMarking{display:none;}
div#content{margin:10px 0;}
div.sectionHeader{margin-top:10px;padding:3px 8px;background-color:#416ed7;color:#fff;border:1px solid #416ed7;border-bottom:none;font-weight:bold;text-align:left;}
div.sectionHeader a{color:white;}
div.section{border:1px solid #d3d3d3;background-color:#fff;border-top:none;padding:10px;position:relative;height:100%;margin-bottom:0;}
div.panel{border:1px solid #d3d3d3;margin-bottom:10px;padding:10px;}
div.column{width:49%;margin-bottom:0;}
div.left{float:left;}
div.right{float:right;}
div.clear{clear:both;}
p.stacktrace{margin:10px;border:1px solid #d3d3d3;#fff-space:pre;font-family:monospace;overflow:auto;white-space:pre-wrap;}
div#footer{margin:10px 0;padding:3px;}
div#footerLinks{float:right;}
table.keyValues tr:nth-child(even){background-color:#eef5fe;}
table.keyValues td{padding:5px;vertical-align:middle;}
table.keyValues td:first-child{font-weight:bold;text-align:right;}
table.keyValues th{text-align:center;font-weight:bold;font-style:normal;padding:5px;}
div.buttonBar{margin-bottom:10px;}
.editable{background:url(/images/edit.png) no-repeat top right;padding-right:20px;margin-right:10px;cursor:pointer;}
div.approval{background-color:#efefef;border:1px solid #cecece;padding:3px;margin-bottom:10px;}
div.approvalHeader{background-color:#cecece;border:1px solid #cecece;padding:3px 8px;}
div.approvalStep{border-top:2px dashed #cecece;}
div.approvalStep:first-child{border-top:none;}
div.approval b{margin-right:10px;}
div.approval span.approved{background-color:lightgreen;padding:3px;}
div.approval span.denied{background-color:#fcc;padding:3px;}
div.formValue{background-color:#EBEBE4;border:1px solid #bebebe;padding:5px;color:#404040;font-weight:normal;}
div.subform{margin:15px 0;float:left;}
table.fisma_crud{margin:0 15px;background-color:#f0f0f0;border:1px dotted #c0c0c0;}
table.fisma_crud tr td,table.fisma_crud tr td input{font-family:'Verdana','Arial','Helvetica';color:#404040;font-weight:bold;font-size:12px;padding:3px 5px;}
span.tooltip{padding:0 2px 2px 22px;background:url(/images/tooltip.png) no-repeat;cursor:help;}
.yui-tt .bd{border:none!important;background-color:#f0f0f0!important;opacity:.9!important;}
.yui-tt-shadow-visible{top:-5px!important;left:-5px!important;bottom:-5px!important;right:-5px!important;background-color:orange!important;opacity:.5!important;}
table.fisma_crud tr td:first-child{text-align:right;background-repeat:no-repeat;}
table.fisma_crud ul li{text-align:left;list-style:none;padding-top:2px;}
div.notice p{text-align:left;padding:5px 20px;}
#help_tips{cursor:help;position:relative;top:4px;}
tr.alt td{background:#ecf6fc;}
tr.over td{background:#bcd4ec;}
.notice{font-size:12px;width:60%;margin:2em auto;border:1px solid #bebebe;padding-bottom:5px;text-align:center;}
.notice p{padding:0 5px;}
.notice h1{text-align:left;padding:5px 5px;color:#44637a;background-color:#ddd;line-height:23px;font-weight:bold;margin-top:0;}
div#msgbar{border:1px solid red;background-color:pink;margin-top:10px;text-align:center;padding:3px;display:none;}
.yui-navset div.loading div{background:url(/lib/2.8.2/build/assets/skins/sam/ajax-loader.gif) no-repeat center center;height:8em;}
table.systemDocuments{border:1px solid lightgrey;}
table.systemDocuments th{font-weight:bold;padding:10px;background:lightgrey;}
table.systemDocuments td{padding:10px;margin-top:10px;}
table.systemDocuments td:first-child:hover{border:1px solid orange;background-color:#fff0c5;margin-top:10px;}
table.systemDocuments td a{color:black;}
table.systemDocuments td img{float:left;margin-right:10px;}
#testEmailRecipient{height:20px;width:220px;margin-left:10px;}
input#product.yui-ac-input{position:relative;}
div#product_ac_container{position:relative;top:0;width:234px;}
div.yui-ac-content[style]{height:auto!important;width:auto!important;margin-top:5px;}
div.yui-ac-bd{overflow:auto;overflow-x:hidden;height:auto!important;max-height:200px;}
.yui-ac-content ul{margin-right:20px!important;}
ul.treelist li{list-style:none;}
ul.treelist{margin-top:1em;}
div#TabView_UserView_TabViewContainer{float:left;margin-top:14px;max-width:60%;}
div.section>div>div.clear{display:none;}
div.section>div.form_box>form>div.clear{display:none;}
form dl.zend_form{margin-left:auto;margin-right:auto;}
form dl.zend_form dt,form dl.zend_form dd{font-weight:bold;margin:5px;}
form .searchForm{display:inline;}
input[type=text].date{background:url(/images/calendar.png) no-repeat 98%;background-color:white;width:10em;}
div#leftPane{float:left;width:0;min-width:25em;margin-right:2em;}
div#rightPane{float:left;width:0;min-width:40em;}
div#copyUserAccess>div.section>label{float:left;}
div#copyUserAccess>div.section>div{float:left;}
span#rolesAndUserscheckboxMatrixTooltip.tooltip{display:none;}
span#copyUserAccessTreecheckboxMatrixTooltip.tooltip{display:none;}
div#addUserAccess>div.section>div#addUserAccessLeft{float:left;min-width:5em;text-align:right;margin-right:1em;}
div#addUserAccess>div.section>div#addUserAccessRight{float:left;}
dt#-label{display:none;}
div#addUserAccess>div.section>dd#-element>fieldset>dl>select#roles{clear:both;display:block;}
div#addUserAccess>div.section>dd#-element>fieldset>dl>label{display:block;margin-top:1em;}
div#addUserAccess>div.section>dd#-element{margin-top:-1em;}
div#addUserAccess>div.section>dd#-element>fieldset>dl>span#addUser.yui-button.yui-push-button{margin-top:.75em;margin-left:0;}
div#copyUserAccess>div.section>dd#-element>fieldset>dl>div.yui-ac{margin-top:.25em;margin-bottom:.75em;}
span#selectAll{margin-left:0;}
span#removeUsers{margin-left:0;}
.display-none{display:none;}
div#swfstoreContainer{width:0;height:0;}
form#transitionsForm{display:inline;}