/* The security control search box is initially hidden */
div#findingSecurityControlSearch {
    display: none;
    background-color: white;
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin-top: 10px;
}

.pocNotMatched {
    border: 1px solid #ff982f;
    background-color: #f5d3c5;

    margin-top: 5px;
    margin-right: 10px;
    padding: 8px;
}

/* Finding Workflow elements */
div#changeQueue {
    float: right;
    width: 30%;
}

div#changeQueue .messageBox ul {
    text-align: left;
    margin-left: 2px;
}

div.stepBlock {
    width: 60%;
}

div.stepBlock h1 {
    margin-top: 0;
}

div.stepBlock table td:first-child {
    width: 110px;
    vertical-align: top;
}

div.stepDetail {
    display: none;
    margin-top: 6px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0px;
    border: none;
    padding: 12px;
}

div#changeQueue div.approval {
    height: 500px;
    overflow: auto;
}

div.stepDetail td{
    border: none;
}

div.stepDetail table {
    width: 100%;
}

/* Overriding default text input look-and-feel */
div.stepDetail td:first-child {
    padding-top: 8px;
}

form#finding_workflow td:first-child{
    width:150px;
}

form#finding_workflow td input, form#finding_workflow td div, form#finding_workflow td textarea {
    width: 100%;
    border: solid thin transparent;
    padding: 2px;
    background-color: transparent;
}

form#finding_workflow td input:hover, form#finding_workflow td textarea:hover {
    border: solid thin black;
    background-color: #FFFF99;
}

form#finding_workflow textarea {
    height: 48px;
}

form#finding_workflow td input[readonly], form#finding_workflow td textarea[readonly] {
    color: black ! important;
    background-color: white ! important;
    border: none;
}

/* New Dashboard Analyst View */
div.findingAnalystLeft .yui-dt-col-displayParentOrganization {
    width: 15%;
}
div.findingAnalystLeft .yui-dt-col-summary {
    width: 45%;
}
div.findingAnalystLeft .yui-dt-col-displayOrganization,
div.findingAnalystLeft .yui-dt-col-displayPoc,
div.findingAnalystLeft .yui-dt-col-assetName,
div.managerAnalystLeft .yui-dt-col-displayOrganization,
div.managerAnalystLeft .yui-dt-col-displayPoc {
    width: 30%;
}
div.findingAnalystLeft .yui-dt-col-threatLevel {
    width: 50%;
}
div.managerAnalystLeft .yui-dt-col-threatLevel {
    width: 65%;
}
div.findingAnalystLeft .yui-dt-col-displayTotal {
    width: 5%;
    text-align: center !important;
}
div.findingAnalystLeft div.section > a {
    margin-top: 8px;
    display: block;
}

div#changeLayout {
    line-height: 28px;
    border: solid thin transparent;
}
div#changeLayout.active {
    line-height: 28px;
    border-color: orange;
}

div.findingAnalystRight td:first-child {
    width:35%;
}
