/* The security control search box is initially hidden */
div#findingSecurityControlSearch {
    display: none;
    background-color: white;
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin-top: 10px;
}

.pocNotMatched {
    border: 1px solid #ff982f;
    background-color: #f5d3c5;

    margin-top: 5px;
    margin-right: 10px;
    padding: 8px;
}

fieldset#evidence_upload_file_list {
    border: 1px solid;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 4px;
    padding-left: 16px;
    margin-top:8px;
    margin-bottom:8px;
}

fieldset#evidence_upload_file_list legend {
    font-weight: bold;
}

fieldset#evidence_upload_file_list input {
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

form#finding_detail_upload_evidence button {
    display: none;
}

/* Finding Workflow elements */
div#changeQueue {
    float: right;
    width: 30%;
}

div#changeQueue .messageBox ul {
    text-align: left;
    margin-left: 2px;
}

div.stepBlock {
    width: 60%;
}

div.stepBlock h1 {
    margin-top: 0;
}

div.stepBlock table td:first-child {
    width: 110px;
    vertical-align: top;
}

div.stepDetail {
    display: none;
    margin-top: 6px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0;
    border: none;
    padding: 12px;
}

div#changeQueue div.approval {
    height: 500px;
    overflow: auto;
}

div.stepDetail td{
    border: none;
}

div.stepDetail table {
    width: 100%;
}

/* Overriding default text input look-and-feel */
div.stepDetail td:first-child {
    padding-top: 8px;
}

form#finding_workflow td:first-child{
    width:150px;
}

div.stepDetail td input, div.stepDetail td div, div.stepDetail td textarea {
    width: 100%;
    border: solid thin white;
    padding: 2px;
}

div.stepDetail td input:hover, div.stepDetail td textarea:hover {
    border: solid thin black;
    background: #FFFF99;
}

div.stepDetail textarea {
    height: 48px;
}

div.stepDetail td input[readonly] {
    color: black ! important;
    background: white ! important;
    border: none;
}

/* Overall InteractiveOrderedList styling */
ul.dragList {
    margin-left: 0;
}

#dragListProxy {
    border: thin solid ! important;
    border-left: 10px solid ! important;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

ul.dragList.enabled li, #dragListProxy {
    border-left: 10px solid;
    cursor: move;
}

ul.dragList li {
    list-style-type: none;
    padding: 10px;
    border: thin solid;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 0px;
    cursor: default;
}

span.linkBar {
    float: right;
}

ul.dragList li:first-child {
    display: none;
}
