body		{	
    font-family : tahoma, osaka, taipei, verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	margin: 0 auto;
	padding: 0;
	text-align:center;
}

a		{	
    text-decoration: none;
	color: #666666;font-weight: bold;
	background-color: transparent;
}

a:hover		{	
    text-decoration: none;
    	color: #ff9966;
    	font-weight: bold;
    	background-color: transparent;
}

td		{	
    font-family : tahoma, osaka, taipei, verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px;
}

img		{	border:0;			}
.bg1        {        background-color: #f7f7f7; color: #000000;       }
.bg2        {        background-color: #000000; color: #ffffff;       }
.bg3        {        background-color: #2f5376; color: #f9b743;       }
.bg4        {        background-color: #f5f5f5; color: #000000;       }
.bg5        {        background-color: #f5f5f5; color: #000000;       }
.fg1        {        color: #f9b743;                                  }
.fg2        {        color: #000000;                                  }

input, 
button,
.button{
    border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font: 8pt verdana, arial, helvetica;
	border-left: #000000 1px solid;
	color: #000000;
	border-bottom: #000000 1px solid;
	background-color: #f7f7f7
}
.button{ 
	font-weight:bold;
	padding:0px 8px;

}

select { 
    border-right: #000 1px solid; 
    border-top: #000 1px solid; 
    background-color: #f7f7f7; 
    font: 8pt verdana, arial, helvetica; 
    border-left: #000 1px solid; 
    color: #000; 
    border-bottom: #000 1px solid; 
} 

div.panel {
    width:778px;
    margin:0 auto;
    background:url("/images/install/bg_table.gif") repeat-y;
}

.ok {
    background:url("/images/install/yes.gif") center left no-repeat;
    padding-left:10px;
}

.failure {
    background:url("/images/install/no.gif") center left no-repeat;
    padding-left:10px;
}

.nolist {
    list-style-type:none;
}

.installer {
    text-align:left;
    padding:10px 30px;
}

.installer h4 {
    text-align:center;
    padding:20px 0 10px 0;
}

.next, .back {
    padding:20px;
    style='font-size:85%;
}

.notice{ 
    font-weight:bold;
    color:red;
}

.errorbox {
    border:1px red solid;
	padding:10px;
}