body {
    color: #cccccc;
    background-color: #44627a;
    margin: 0px;
}

/* The white stripe at the top of the screen */
div#header{
    height: 60px;
    background-image: url('../images/title_vline.jpg');
}

/* Diagonal stripes underneath the header */
div#stripes{
    background-image: url('../images/login_bg.jpg');
    height: 60px;
}

/* Messages related to login errors */
p.message{
    color: #fcb907;
    font-weight: bold;
}

/* The system use notification */
div#systemUseNotification {
    position: relative;
    top: -25px;
    width:40em;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #738da0;
    background-color: #55758c;
}

div#systemName {
    font-weight: bold;
    font-size: 16pt;
}

form#loginForm {
    font-size: 12pt;
    font-weight: bold;
    width: 20em;
    margin: 0px auto;
}

form#loginForm input {
    padding: 3px;
    font-size: 10pt;
}

div#footerLinks {
    float: right;
}

div#footerLinks a {
    color: #cccccc;
}
