@import url('fisma.css');
@import url('layout.css');
@import url('menu.css');

/* Body Stylesheet */
body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

body,p,blockquote,h1,h2,h3,h4,h5,h6 {
	font-family: 'Verdana', 'Arial', 'Helvetica';
	font-weight: normal;
	font-size: 12px;
}

li,input,select,textarea {
	font-family: 'Verdana', 'Arial', 'Helvetica';
	font-weight: normal;
	font-size: 12px;
}

/* Bolde Style Sheet for all bold attributes */
b {
	font-family: 'Verdana', 'Arial', 'Helvetica';
	font-weight: bold;
	color: #44637A;
	font-size: 12px;
}

/* Table Header Style Sheet for all Tables */
th {
	font-family: 'Verdana', 'Arial', 'Helvetica';
	color: #44637A;		/* Dark Blue */
	height: 23px;
	font-weight: bold;
	font-size: 12px;
        background-color: #DDDDDD;
        padding-left: 5px;
        padding-right: 5px;
}

/* Table Cell Style Sheet for all td cells */
td {
	font-family: 'Verdana', 'Arial', 'Helvetica';
	color: #000000;
	height: 23px;
	font-weight: normal;
	font-size: 12px;
}

.tdc {
	border-left: 1px solid #BEBEBE;
	border-top: 1px solid #BEBEBE;
}

.tbframe {
	font-family: Tahoma,verdana,arial, helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
        border: 1px solid #BEBEBE;
        border-collapse: collapse;
        margin: 0em auto;
}

.tipframe {
    font-family: Tahoma, verdana, arial, helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    border: 1px solid #44637A;
    width: 98%;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
}

.tipframe th {
	height: auto;
}

.thc {
    font-family: 'Verdana', 'Arial', 'Helvetica';
    color: #44637A;
    height: 23px;
    font-weight: bold;
    font-size: 12px;
    background-color: #E3E3E3;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

/* This is the standard style for the basic CRUD forms such as users, systems,
   finding sources, etc.
*/
div.form {

}

div.formValue {
    background-color: white;
    border: 1px solid #bebebe;
    padding: 5px;
    color: black;
    font-weight: normal;
}

div.subform {
    margin: 15px 0px;
}

table.fisma_crud {
    margin: 0px 15px;
    background-color: #e3e3e3;
    border: 1px solid #bebebe;
}

table.fisma_crud tr td {
    font-family: 'Verdana', 'Arial', 'Helvetica';
    color: #44637a;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 5px;
}

table.fisma_crud tr td:first-child {
    text-align: right;
}


table.fisma_crud tr.fisma_checkboxes td {
    text-align: left;
}

/* This is used for Rules of Behavior, Privacy Policy, etc. */
div.notice p {
    text-align:left;
    padding: 5px 20px;
}

/* Used to put an invisible div on top of an existing block element. This prevents click through on
   the underneath content. */
.shield {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;    
    background-color: red; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* This is the style for highlight the search keyword. */
.highlight {
    background-color: yellow;
}

#help_tips{
    cursor:help;
    position:relative;
    top:4px;
}

/* add bgcolor to all row */
tr.alt td { 
    background:#ecf6fc;
}
    
/* add bgcolor when mouseover */
tr.over td { 
    background:#bcd4ec;
    cursor:pointer; 
} 
