@import url('fisma.css');
@import url('layout.css');

/* Create some space around the body content */
body {
	padding: 10px;
	text-align: left;
}

/* The logo is floated to the left */
div#logo {
    float: left;
    margin-bottom: 10px;
}

/* The logout form is floated to the right */
div#logout {
    float: right;
    text-align: right;
}

/* Styling for the menubar. The min-height reserves the space required for the menubar while it loads. */
div#menubar {
    clear: both;
    font-weight: bold;
    min-height: 25px;
    background-color: gray;
}

/* The content area is the middle of the page in between the header and the footer */
div#content {
    margin-top: 10px;
}

/* Sections are used to divide long pages up into separate and distinct content blocks. */
div.sectionHeader {
    padding: 3px 8px;
    background-color: lightgray;
    color: #3e3e3e;
    border: 1px solid darkgray;
    border-bottom: none;
    font-weight: bold;
    text-align: left;
}

div.section {
    border: 1px solid darkgray;
    border-top: none;
    padding: 10px;
    position: relative;
    height: 100%;
    margin-bottom: 10px;
}

/* Panels are a subdivision of the sections */
div.panel {
    border: 1px solid darkgray;
    margin-bottom: 10px;
    padding: 10px;
}

/* Used to display a stacktrace. Traces might be long so the paragraph needs to be able to scroll horizontally. */
p.stacktrace {
    margin: 10px;
    border: 1px solid darkgray;
    white-space: pre;
    font-family: monospace;
    overflow: auto;
}

/* Provide some whitespace at the bottom of the page */
div#footer {
    margin-bottom: 10px;
}

/* The footer links are aligned in the bottom-right corner */
div#footerLinks {
    float: right;
}

/* A horizontal rules which extends all the way across the parent element. */
/*hr.fullSeparator {
    width: 100%;
}*/

/* Generic styles -- this section contains style information for generic elements. Generally speaking, we should be
 * careful about modifying elements directly. However, these are based on the YUI reset that has already been loaded
 * when this style sheet is loaded.
 */
em {
    font-weight: bold;
}

li {
    display: list-item;
}

p {
    margin: 0px 8px;
}

h1 {
    font-size: large;
    font-weight: bold;
}

/* ========================================================================================================= */
/* Table Header Style Sheet for all Tables */
th {
	font-family: 'Verdana', 'Arial', 'Helvetica';
	color: #44637A;		/* Dark Blue */
	height: 23px;
	font-weight: bold;
	font-size: 12px;
        background-color: #DDDDDD;
        padding-left: 5px;
        padding-right: 5px;
}

/* Table Cell Style Sheet for all td cells */
td {
	font-family: 'Verdana', 'Arial', 'Helvetica';
	color: #000000;
	height: 23px;
	font-weight: normal;
	font-size: 12px;
}

.tdc {
	border-left: 1px solid #BEBEBE;
	border-top: 1px solid #BEBEBE;
}

.tbframe {
	font-family: Tahoma,verdana,arial, helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
        border: 1px solid #BEBEBE;
        border-collapse: collapse;
        margin: 0em auto;
}

.tipframe {
    font-family: Tahoma, verdana, arial, helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    border: 1px solid #44637A;
    width: 98%;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
}

.tipframe th {
	height: auto;
}

.thc {
    font-family: 'Verdana', 'Arial', 'Helvetica';
    color: #44637A;
    height: 23px;
    font-weight: bold;
    font-size: 12px;
    background-color: #E3E3E3;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

/* This is the standard style for the basic CRUD forms such as users, systems,
   finding sources, etc.
*/
div.form {

}

div.formValue {
    background-color: white;
    border: 1px solid #bebebe;
    padding: 5px;
    color: black;
    font-weight: normal;
}

div.subform {
    margin: 15px 0px;
}

table.fisma_crud {
    margin: 0px 15px;
    background-color: #e3e3e3;
    border: 1px solid #bebebe;
}

table.fisma_crud tr td {
    font-family: 'Verdana', 'Arial', 'Helvetica';
    color: #44637a;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 5px;
}

table.fisma_crud tr td:first-child {
    text-align: right;
}


table.fisma_crud tr.fisma_checkboxes td {
    text-align: left;
}

/* This is used for Rules of Behavior, Privacy Policy, etc. */
div.notice p {
    text-align:left;
    padding: 5px 20px;
}

/* Used to put an invisible div on top of an existing block element. This prevents click through on
   the underneath content. */
.shield {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;    
    background-color: red; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* This is the style for highlight the search keyword. */
.highlight {
    background-color: yellow;
}

#help_tips{
    cursor:help;
    position:relative;
    top:4px;
}

/* add bgcolor to all row */
tr.alt td { 
    background:#ecf6fc;
}
    
/* add bgcolor when mouseover */
tr.over td { 
    background:#bcd4ec;
    cursor:pointer; 
} 