.searchBox{background-color:#ebebeb;margin:10px auto;border:1px solid #cecece;padding:5px 10px;}
.searchBox #keywords{width:15em;}
.searchBoxAdditional{margin-top:-11px;border-top:1px solid #cecece;}
.searchBox input[type=text]{position:relative;top:-.4em;border:1px solid #808080;background-color:white;height:1.7em;margin-left:2px;width:20em;}
.searchBox p{font-weight:bold;margin:3px 0;}
.searchBox input[type=text].date{background:url(/images/calendar.png) no-repeat 98%;background-color:white;width:10em;}
.searchBox input[type=text].integer,.searchBox input[type=text].float{width:10em;}
.searchCriteria{border-top:1px dotted #bfbfbf;max-width:60em;padding-top:5px;padding-bottom:3px;-margin-left:auto;margin-right:auto;}
.searchCriteria:first-child{border:none;}
.searchQueryButtons{float:right;}
.searchAddCriteriaButton{background:url(/images/add.png) center center no-repeat;overflow:hidden;width:2em;}
.searchRemoveCriteriaButton{background:url(/images/remove.png) center center no-repeat;overflow:hidden;width:2em;}
.highlight{background-color:yellow;}
div#searchColumnsButtons div{margin-left:20px;margin-bottom:20px;float:right;}
