/* @override http://openfisma/stylesheets/Search.css */

/* Search UI */
.searchBox {
    background-color: #ebebeb;
    margin: 10px auto;
    border: 1px solid #cecece;
    padding: 5px 10px;
}

.searchBox #keywords {
    width: 15em;
}

/* Style for boxes that are displayed underneath the main search box, such as "advanced search" */
.searchBoxAdditional {
    margin-top: -11px;
    border-top: 1px solid #cecece;
}

.searchBox input[type=text] {
    border: 1px solid #808080;
    background-color: white;
    height: 1.7em;
    margin-left: 2px;
    width: 20em;
}

.searchBox p {
    font-weight: bold;
    margin: 3px 0px;
}

.searchBox input[type=text].date {
    background: url(/images/calendar.png) no-repeat 98%;
    background-color: white;
    width: 10em;
}

.searchBox input[type=text].integer, .searchBox input[type=text].float {
    width: 10em;
}

.searchCriteria {
    border-top: 1px dotted #bfbfbf;
    max-width: 1000px;
    padding-top: 5px;
    padding-bottom: 3px;
    -margin-left: auto;
    margin-right: auto;
}

.searchCriteria:first-child {
    border: none;
}

.searchQueryButtons {
    float: right;
}

.searchAddCriteriaButton {
    background: url(/images/add.png) center center no-repeat;
    overflow: hidden;
    width: 2em;
}

.searchRemoveCriteriaButton {
    background: url(/images/remove.png) center center no-repeat;
    overflow: hidden;
    width: 2em;
}

/* The style for highlighted text matching search results */
.highlight {
    background-color: yellow;
}

/* Style for the div liners of comment columns */
.yui-dt-col-jsonComments .yui-dt-liner div {
    margin-bottom: 0.8em;
    border-bottom: black 1px dashed;
    padding-bottom: 0.8em;
}

div#searchColumnsButtons div {
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;
}

div.yui-dt.yui-dt-scrollable {
    max-width: 100%;
}

.searchCriteria select {
    border-color: #808080;
    margin: 2px;
}

div.listDatatableContainer {
    padding-left: 240px;
}

.rowsPerPageInputBox {
    margin-left: 10px;
    width: 30px;
}

.rowsPerPageInputBoxLabel {
    margin-left: 4px;
    display: inline;
}

.rowsPerPageInputBoxLabel, .rowHeightCheckBoxLabel {
    margin-left: 4px;
    margin-right: 10px;
}

div.yui-dt.compact tr.yui-dt-rec div.yui-dt-liner {
    max-height: 3.5em;
    overflow-y: auto;
}

.searchBox select {
    border-color: gray;
    height: 2.5em;
    margin: 2px;
}

.facetBox input[type='checkbox'] {
    vertical-align: middle;
}

.facetBox input[type='text'] {
    width: 150px;
}

.facetBox span.value {
    display: inline-block;
    padding: 2px;
    margin: 2px;
}

.facetBox legend.header {
    display: block;
    padding: 0.5em 0.5em 0.5em 0.7em;
    width: 192px;
    margin-bottom: 0px;
}

.facetBox div.ui-accordion-content {
    padding: 4px;
    top: auto;
    margin-top: auto;
}

.facetBox label {
    display: inline;
    vertical-align: text-top;
}
