/* Styles for a draggable YUI tree */

div.showDisposalSystem {
    margin: 0px 0px 5px 3px;
    font-weight: bold;
}

div.showDisposalSystem input {
    vertical-align: middle;
    margin: 0px 5px 3px 0px;
}

.treeNodeDragAbove {
    border-top: 4px solid #bbc6d6 !important;
}


.treeNodeDragOnto {
    background-color: #bbc6d6 !important;
}

.treeNodeDragBelow {
    border-bottom: 4px solid #bbc6d6 !important;
}

.treeNodeDragProxy {
    border: 1px solid #bbc6d6 !important;
    padding: 3px;
    opacity: 0.75;
}

.draggableTreeContainer .disposal {
       padding-left: 20px;
       background-color: pink;
}
