/* Style for the UserInfo view helper */

span.userInfo span, span.organizationInfo {
	padding-right: 1px;
    border-bottom: 1px dashed black;
}

span.userInfo {
    background: url(/images/userinfo.png) no-repeat;
    background-size: 14px 14px;
    background-position: 0px 1px;
    padding-left: 17px;
    display: inline-block;
}

span.userInfo.locked {
    background-image: url(/images/userinfo-locked.png);
}

span.userInfo.deleted {
    background-image: url(/images/userinfo-deleted.png);
}

span.userInfo:hover, span.organizationInfo:hover {
	cursor: pointer;
}

span.userInfo:active, span.organizationInfo:active {
	color: #416ed7;
}

img.userInfoAlert {
    float: left;
    position: relative;
    top: 10px;
    margin-right: 5px;
}

dt#filter-label, dt#sort-label, dd#filter-element, dd#sort-element {
    display: inline;
}

dd#filter-element, dd#sort-element {
    margin-left: 4px;
    margin-right: 4px;
}

div#organizations {
    height: 600px;
    overflow: auto;
}

ul.treelist li.flat {
    padding-left: 0px !important;
}

div#userForm fieldset {
    text-align: center;
}

div#userForm div#organizations {
    margin-top:10px;
    text-align: left;
}