<?xml version="1.0"?>
<cruisecontrol>
	<project name="openfisma-development" buildafterfailed="false">
		
		<property file="projects/${project.name}/build.properties" /> 
		
		<plugin name="svnbootstrapper" classname="net.sourceforge.cruisecontrol.bootstrappers.SVNBootstrapper"/>
		<plugin name="svn" classname="net.sourceforge.cruisecontrol.sourcecontrols.SVN"/>

		<listeners>
			<currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
		</listeners>

		<modificationset quietperiod="30">
			<svn localWorkingCopy="projects/${project.name}/source/"/>
		</modificationset>
<!--				
		<modificationset>
			<filesystem folder="projects/${project.name}/source" />
		</modificationset>
-->		
		<bootstrappers>
			<svnbootstrapper localWorkingCopy="projects/${project.name}/source/"/>
		</bootstrappers>

		<schedule interval="120">
			<ant anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml"/>
		</schedule>

		<log dir="logs/${project.name}">
			<merge dir="projects/${project.name}/build/logs/"/>
		</log>

		<publishers>
			<currentbuildstatuspublisher file="logs/${project.name}/buildstatus.txt"/>
			<artifactspublisher dir="projects/${project.name}/build/artifacts" dest="artifacts/${project.name}"/>
			<artifactspublisher dir="projects/${project.name}/build/api" dest="artifacts/${project.name}" subdirectory="PHPdocs"/>
			<execute command="phpuc graph logs/${project.name} artifacts/${project.name}"/>
		</publishers>

	</project>
</cruisecontrol>
